@font-face {
    /* Minecraft Font */
    font-family: minecraftRegular;
    src:  url(./minecraft-font/fonts/minecraftregular-bmg3-webfont.woff) format(woff);
  }

@keyframes gem {
    from {transform: rotate(0);}
    to {transform: rotate(180deg);}
}

html {
    height: 100%;
}

body, button {
    font-family: minecraftRegular;
    color: #ffffff;
    text-shadow: 3px 3px 0px #424242;
    font-size: 32px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    margin: 0;
}

.minecraft-header {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.minecraft-logo {
    max-width: 900px;
    position: relative;
}

.minecraft-logo span {
    color: #FFFF00;
    text-shadow: 3px 3px 0px #3F3F00;
    position: absolute;
    right: 0;
    bottom: 40px;
}

.minecraft-logo img {
    height: auto;
    width: 100%;
}

.minecraft-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;   
    margin-bottom: 64px;
}

.minecraft-menu__buttons {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
    margin-bottom: 40px;
}

.minecraft-menu__buttons button {
    background-image: url(./images/background-button.png);
    padding: 0;
    margin: 8px;
    box-shadow: inset -3px -6px 0 0 #565656, inset 3px 3px 0 0 #AAAAAA;
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
    height: 64px;
}

.minecraft-menu__buttons button:hover {
    border-color: #ffffff;
}

button.minecraft-realms {
    position: relative;
}

.minecraft-realms span {
    height: 100%;
    top: 0;
}

.minecraft-realms-gem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 56px;

    animation-name: gem;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.minecraft-realms-gem img, .minecraft-realms-newspaper img {
    width: 52px;
    height: auto;
}

.minecraft-realms-newspaper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 4px;
}

.minecraft-menu__buttons--row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
}

.minecraft-menu__buttons--row button {
    flex: 1;
}

.minecraft-menu__buttons--row .minecraft-button--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 64px;
    padding: 0;
}

.minecraft-button--icon img {
    width: 52px;
    height: auto;
}

.minecraft-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
